@import '@/assets/styles/_helpers.scss';

.login-page-container{
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/home-page.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    backdrop-filter: blur(3px);
    @include media-breakpoint-down(xs) {
      display: block;
      padding: 0px;
    }
  }
}
