<div class="header-container d-flex">
  <router-link class="header-router d-flex" to="/">
    <!-- <i class="fa-solid fa-house home-icon"></i> -->
    <p class="header-home" data-test="Home">Taskify</p>
  </router-link>

  <div v-if="showSignButtons && !getAccessToken" class="sign-btn-container">
    <button class="btn btn-outline-dark" @click="goToLoginPage" id ="signin" data-test="Sign-in">
      Sign in
    </button>
    <button class="btn btn-outline-dark" @click="goToRegisterPage" data-test="Sign-up">
      Sign up
    </button>
  </div>
  <!-- <div v-if="getAccessToken" class="sign-btn-container">
    <button class="btn btn-outline-dark" @click="signOutUser">
      Sign out
    </button>
  </div> -->
    <b-dropdown  v-if="getAccessToken" no-caret toggle-class='customDropdown shadow-none' variant='none' ref="login-dropdown" right offset="12">
      <template #button-content>
        <button  type="button" class ="btn dropbtn" >
          <i class="fa-solid fa-circle-user user-icon"></i>
        </button>
        <i class="fa fa-caret-up" v-if="dropdownItemVisible()"></i>
        <i class="fa fa-caret-down" v-else></i>
      </template>
      <b-dropdown-header>Signed in as</b-dropdown-header>
      <b-dropdown-text text-class="username-heading">{{getUserName }}</b-dropdown-text>
      <b-dropdown-divider v-if="isTaskDropdown"></b-dropdown-divider>
      <b-dropdown-item v-if="isTaskDropdown" @click="goToTaskPage">
        <i class="fa-solid fa-list-check pr-1"></i>
        Your tasks</b-dropdown-item>
      <b-dropdown-divider></b-dropdown-divider>
      <b-dropdown-item @click="signOutUser" variant="danger">
        <i class="fa fa-sign-out pr-1" aria-hidden="true"></i>
        Sign out</b-dropdown-item>
    </b-dropdown>
</div>