@import '@/assets/styles/_helpers.scss';

.header-container {
  width: 100%;
  padding: 12px 15px 16px 15px;
  justify-content: space-between;
  background: rgb(255,193,27);
  background: linear-gradient(180deg, rgba(255,193,27,0.79) 0%, rgba(255,219,115,0.6951155462184874) 38%, rgba(255,241,198,0.6951155462184874) 69%, rgba(255,255,255,1) 100%);

  .header-router {
    justify-content: center;
    align-items: center;
    text-decoration: none;

    .home-icon {
      color: #04013f;
      margin: 0px 6px;
      font-size: 18px;
    }

    .header-home {
      margin: 0px;
      color: #04013f;
      font-size: 24px;
      font-weight: 500;
      user-select: none;
    }
  }

  .sign-btn-container {
    margin: 0px 30px;
    @include media-breakpoint-down(xs) {
      margin: 0px;
    }

     .user-icon {
      margin: 0px 10px;
      // padding: 4px 16px;
      // border-radius: 17px;
      font-size: 2rem;
     }
    .btn {
      margin: 0px 10px;
      padding: 4px 16px;
      border-radius: 17px;
      @include media-breakpoint-down(xs) {
        margin: 0px 0px 0px 6px;
      }
    }
  }
  .customDropdown {
    background-color: none;
    border-color: none;
    color:none;
  }
  .dropbtn {
    font-size: 32px;
    font-weight: 500;
    padding: 0px 3px 0px;
  }
  .username-heading {
    font-weight: 700;
  }
}