<!-- <div style="backdrop-filter: blur(3px);height:100%;"> -->
  <div class="task-container">

    <div class="task-component">
      <h1 class="task-heading">Track your task here</h1>

      <div class="task-badges-container">
        <span class="badge task-badges" style="background: rgb(230 242 255); color: rgb(0 64 133);">
          Total : {{allTasks.length}}
        </span>
        <span class="badge task-badges" style="background: rgb(230 245 233); color: #3e774b;">
          Success : {{completedTask || 0}}
        </span>
        <span class="badge task-badges" style="background: #ff00001f; color: #b71b1b;">
          Pending : {{allTasks.length - completedTask}}
        </span>
      </div>

      <div class="mx-auto task-form-container">
        <div class="form-group d-flex add-task-form">
          <input
            type="text"
            class ="task-input form-control"
            placeholder="Enter new task"
            v-model="taskData.taskDescription"
            @keydown.enter="addTask"
            aria-describedby="description_error"
            @focus="changeDescriptionStatus"
          >
          <span @click="addTask" class="my-auto add-task-btn">
            <i class="fa-solid fa-circle-plus add-icon"></i>
          </span>
        </div>
        <div
        v-if = "isDescriptionEmpty"
        id = "description_error"
        class="is-invalid"
        >
        <small
        >
          Task can't be empty
        </small>
      </div>
      </div>
      

      <div class="task-link-container d-flex">
        <a href="javascript:void(0)" class="task-link" :class="{active : activeLink === 'all'}" @click="allTask">All</a>
        <a href="javascript:void(0)" class="task-link" :class="{active : activeLink === 'active'}" @click="activeTask">Active</a>
        <a href="javascript:void(0)" class="task-link" :class="{active : activeLink === 'done'}" @click="doneTask">Completed</a>
      </div>

      <div style="width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; overflow-y: auto;
       max-height: 350px;">
        <div class="task-list-container" v-for="task in tasks" :key="task._id">
          <div class="task-list">
            <input 
            class="form-check-input task-checkbox"
            type="checkbox"
            v-model="task.completed"
            @click="changeTaskStatus(task._id)"
            id="taskStatus">
            <p class="task-description" :class="{'task-status': task.completed}">
              {{task.description}}
            </p>
          </div>
  
          <div class="task-delete">
            <span @click="deleteTask(task._id, task.description)">
              <i class="fa-solid fa-trash delete-icon"></i>
            </span>
          </div>
        </div>
      </div>
      

      <div class="empty-task" v-if="allTasks.length === 0">
        No Task has been added yet. Please enter a task.
      </div>
      <div v-else>
        <div class="empty-task" v-if="activeLink === 'active' && (allTasks.length - completedTask) === 0 ">
          No Active task.
        </div>
        <div class="empty-task" v-if="activeLink === 'done' && completedTask === 0">
          No Completed task.
        </div>
      </div>
      
    </div>
    
  </div>
