@import '@/assets/styles/_helpers.scss';

.task-container {
  height: auto;
  padding: 24px;

  .task-component {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 8px 40px;

    .task-heading {
      margin-bottom: 24px;
      font-size: 56px;
      font-weight: 700;
      color: #ffbd08;
    }

    .task-badges-container {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
      font-size: 1.3em;

      .task-badges{
        margin: 0px 16px;
        font-size: 17px;
        padding: 8px 16px
      }
    }

    .add-task-form {
      width: 100%;
      justify-content: center;
      margin-bottom: 16px;

      .task-input{
        width: 80%;
        font-size: 20px;
        height: 48px;
        margin: 16px 0px;
      }
    
      .add-icon{
        cursor: pointer;
        font-size: 40px;
        margin-left: 16px;
        color: #ffbd08;
      }
    }

    .task-link-container {
      width: 70%;
      margin-bottom: 16px;
      margin-left: 32px;

      .task-link {
        color: grey;
        margin-right: 24px;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
      }
    }

    .task-list-container {
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin-bottom: 24px;
      margin-right: 56px;
      padding-bottom: 8px;
      border-bottom: 1px solid rgba(149, 157, 165, 0.2);

      .task-list {
        display: flex;
        align-items: center;

        .task-checkbox {
          margin: 0px;
          font-size: 20px;
          margin-right: 32px;
        }

        .task-description {
          margin: 0px 20px;
          font-size: 20px;
          font-weight: 400;
        }
      }

      .task-delete {
        .delete-icon {
          cursor: pointer;
        }
      }

    }

  }


}



.modal-heading {
  margin-top: 20px;
  margin-bottom: 40px;
}
.delete-btn-confirm {
  width: 100%; justify-content: space-evenly;
}
.modal-submit-btn {
  width: 120px;
  margin-bottom: 4px;
}
.task-status {
  text-decoration: line-through;
  color: rgb(163, 162, 162);
}